<template>
  <div id="app">

    <Player
      v-if="ccmz"
      :jianpu="jianpu"
      :ccmz="ccmz"
      :readingMode="readingMode"
      :defaultWaterfallMode="waterfallMode"
      @onUpdateState="onUpdateState"
      ref="player"
    >
    </Player>
  </div>
</template>
<style>
body {
  margin: 0;
  padding: 0;
  background-color: #FFF6EB;
}
</style>
<script>
import Player from "../../components/Player";

export default {
  name: "App",
  components: {
    Player,
  },
  data() {
    let name = this.getQueryString("name");
    name = name ? decodeURIComponent(name) : "雀跃";
    let url = this.getQueryString("url");
    url = url ? decodeURIComponent(url) : undefined;
    let ccmzFile = url ? url : "./test/" + name + ".ccmz";

    let readingMode = this.getQueryString("readingMode");
    readingMode = readingMode == "true" ? true : false;

    let jianpu = this.getQueryString("jianpuMode");
    jianpu = jianpu == "true" ? 1 : parseInt(jianpu);

    let waterfallMode = this.getQueryString("waterfallMode");
    waterfallMode = waterfallMode == "true" || waterfallMode == "1" ? 1 : 0;

    return {
      ccmz: ccmzFile,
      jianpu: jianpu,
      readingMode: readingMode,
      waterfallMode: waterfallMode,
    };
  },
  mounted() {},
  methods: {
    getQueryString(name) {
      var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
      var r = window.location.search.substr(1).match(reg); //search,查询？后面的参数，并匹配正则
      if (r != null) return decodeURIComponent(r[2]);
      return null;
    },
    toFixed2(number) {
      return number < 10 ? "0" + number : number;
    },
    onUpdateState(data) {
      if (data.name == "inited" && data.data.inited == 2)
        window.parent.postMessage({ message: "onPlayerInited" }, "*");
    },
  },
};
</script>
