<template>
  <div
    ref="container"
    id="container"
    @mousedown="onMouseDown"
    @mouseup="onMouseUp"
  >
    <SvgScore
      @svgmounted="svgmounted"
      @clickmeas="clickmeas"
      v-if="score && !waterfallMode"
      :score="score"
      ref="svgScore"
      :config="{display: 'onepage', showall: true, displayParam: {paged: paged, jianpu: jianpu}}"
      :lineh="lineh"
    >
      <template v-slot:background>
        <!-- 自定义背景，显示在最底层 -->
      </template>
      <template v-slot:cursorbg>
        <!-- 自定义光标 -->
        <rect
          v-if="cursorPos && cursorPos.height != 0 && hideCursor !== true"
          v-bind="cursorPos"
          :width='lineh*1.5'
          :x='cursorPos.x'
          :y='cursorPos.y-lineh*2'
          :height="cursorPos.height+lineh*4"
          :rx='lineh*0.75'
          :ry='lineh*0.75'
          fill='rgba(251,121,127,0.6)'
          class='noprint'
        />
      </template>
      <template v-slot:foreground>
        <!-- 自定义前景，显示在曲谱前方 -->

        <g
          class="noprint"
          v-if="loopARect"
          v-bind="loopARect"
        >
          <line
            stroke="#77ebbf"
            :x1="loopARect.x-lineh*0.2"
            :x2="loopARect.x-lineh*0.2"
            :y1="loopARect.y"
            :y2="loopARect.y+loopARect.height"
            :stroke-width="lineh*0.6"
          ></line>
          <line
            stroke="#77ebbf"
            :x1="loopARect.x+lineh*0.5"
            :x2="loopARect.x+lineh*0.5"
            :y1="loopARect.y"
            :y2="loopARect.y+loopARect.height"
            :stroke-width="lineh*0.2"
          ></line>
          <line
            stroke="#77ebbf"
            :x1="loopARect.x+lineh*1.0"
            :x2="loopARect.x+lineh*1.0"
            :y1="loopARect.y+1.5*lineh"
            :y2="loopARect.y+1.5*lineh"
            :stroke-width="lineh*0.4"
            stroke-linecap="round"
          ></line>
          <line
            stroke="#77ebbf"
            :x1="loopARect.x+lineh*1.0"
            :x2="loopARect.x+lineh*1.0"
            :y1="loopARect.y+2.5*lineh"
            :y2="loopARect.y+2.5*lineh"
            :stroke-width="lineh*0.4"
            stroke-linecap="round"
          ></line>
          <line
            stroke="#77ebbf"
            :x1="loopARect.x+lineh*1.0"
            :x2="loopARect.x+lineh*1.0"
            :y1="loopARect.y+loopARect.height-2.5*lineh"
            :y2="loopARect.y+loopARect.height-2.5*lineh"
            :stroke-width="lineh*0.4"
            stroke-linecap="round"
          ></line>
          <line
            stroke="#77ebbf"
            :x1="loopARect.x+lineh*1.0"
            :x2="loopARect.x+lineh*1.0"
            :y1="loopARect.y+loopARect.height-1.5*lineh"
            :y2="loopARect.y+loopARect.height-1.5*lineh"
            :stroke-width="lineh*0.4"
            stroke-linecap="round"
          ></line>
          <!-- <text
            style="text-anchor: middle;font-size:48;"
            fill="red"
            :x="loopARect.x"
            :y="loopARect.y+loopARect.height+48"
          >A</text> -->
        </g>

        <g
          class="noprint"
          v-if="loopBRect"
          v-bind="loopBRect"
        >
          <line
            stroke="#77ebbf"
            :x1="loopBRect.x+loopBRect.width+lineh*0.2"
            :x2="loopBRect.x+loopBRect.width+lineh*0.2"
            :y1="loopBRect.y"
            :y2="loopBRect.y+loopBRect.height"
            :stroke-width="lineh*0.6"
          ></line>
          <line
            stroke="#77ebbf"
            :x1="loopBRect.x+loopBRect.width-lineh*0.5"
            :x2="loopBRect.x+loopBRect.width-lineh*0.5"
            :y1="loopBRect.y"
            :y2="loopBRect.y+loopBRect.height"
            :stroke-width="lineh*0.2"
          ></line>
          <line
            stroke="#77ebbf"
            :x1="loopBRect.x+loopBRect.width-lineh*1.0"
            :x2="loopBRect.x+loopBRect.width-lineh*1.0"
            :y1="loopBRect.y+1.5*lineh"
            :y2="loopBRect.y+1.5*lineh"
            :stroke-width="lineh*0.4"
            stroke-linecap="round"
          ></line>
          <line
            stroke="#77ebbf"
            :x1="loopBRect.x+loopBRect.width-lineh*1.0"
            :x2="loopBRect.x+loopBRect.width-lineh*1.0"
            :y1="loopBRect.y+2.5*lineh"
            :y2="loopBRect.y+2.5*lineh"
            :stroke-width="lineh*0.4"
            stroke-linecap="round"
          ></line>
          <line
            stroke="#77ebbf"
            :x1="loopBRect.x+loopBRect.width-lineh*1.0"
            :x2="loopBRect.x+loopBRect.width-lineh*1.0"
            :y1="loopBRect.y+loopBRect.height-2.5*lineh"
            :y2="loopBRect.y+loopBRect.height-2.5*lineh"
            :stroke-width="lineh*0.4"
            stroke-linecap="round"
          ></line>
          <line
            stroke="#77ebbf"
            :x1="loopBRect.x+loopBRect.width-lineh*1.0"
            :x2="loopBRect.x+loopBRect.width-lineh*1.0"
            :y1="loopBRect.y+loopBRect.height-1.5*lineh"
            :y2="loopBRect.y+loopBRect.height-1.5*lineh"
            :stroke-width="lineh*0.4"
            stroke-linecap="round"
          ></line>

          <!-- <text
            style="text-anchor: middle;font-size:48;"
            fill="red"
            :x="loopBRect.x+loopBRect.width"
            :y="loopBRect.y+loopBRect.height+48"
          >B</text> -->
        </g>

      </template>
    </SvgScore>
    <canvas
      class="waterfall"
      ref="waterfall"
      v-show="score && waterfallMode"
    ></canvas>

  </div>
</template>

<style>
@font-face {
  font-family: Aloisen New;
  src: url("../assets/fonts/Music Font.woff") format("woff");
}
@page {
  size: auto; /* auto is the initial value */
  margin: 0mm;
}
* {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html {
  background-color: #ffffff;
  margin: 0px; /* this affects the margin on the html before sending to printer */
}

body {
  margin: 0mm; /* margin you want for the content */
}
.waterfall {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
  overflow: hidden;
  z-index: -1;
}
@media print {
  .print {
    display: none;
  }
}
@media screen {
  .print {
    display: none;
  }
}
</style>

<script>
import { SvgScore } from "../js/xmlscore.esm.min.js";
import Controller from "../js/Controller";

export default {
  name: "Player",
  components: {
    SvgScore,
  },
  props: ["ccmz", "readingMode", "jianpu", "defaultWaterfallMode"],
  data(opts) {
    console.log(
      "client size:" + document.documentElement.clientWidth,
      ",",
      document.documentElement.clientHeight
    );

    console.log("loading " + this.ccmz);

    return {
      paged: true,
      lineh: 10,
      score: null,
      cursorPos: null,
      hideCursor: false,
      loopARect: null,
      loopBRect: null,
      waterfallMode: opts.defaultWaterfallMode,
    };
  },
  mounted() {
    const viewCallback = {
      showCursor: (cursor) => {
        if (cursor) {
          this.cursorPos = cursor;
        } else {
          this.hideCursor = false;
        }
      },
      hideCursor: () => {
        this.hideCursor = true;
      },
      showLoop: (rectA, rectB) => {
        this.loopARect = rectA;
        this.loopBRect = rectB;
      },
      onWaterfallMode: (waterfallMode) => {
        this.waterfallMode = waterfallMode;
      },
    };
    this.controller = new Controller(this, viewCallback, this.nativeMode);
    this.controller.setWaterfallMode(this.waterfallMode);
    if (this.ccmz) {
      this.controller.readTextFile(
        this.ccmz,
        this.readingMode,
        this.onDataCallback
      );
    } else {
      this.controller.setDataCallback(this.onDataCallback);
    }

    window.Player = this.controller;
  },
  methods: {
    // onTouchStart(event) {
    //   this.controller.onTouchStart(event);
    // },
    // onTouchEnd(event) {
    //   this.controller.onTouchEnd(event);
    // },
    onDataCallback(score) {
      this.score = score;
      this.$nextTick(function () {
        this.controller.setWaterfall(this.$refs.waterfall);
      });
    },
    onMouseDown(event) {
      this.controller.onMouseDown(event);
    },
    onMouseUp(event) {
      this.controller.onMouseUp(event);
    },
    svgmounted() {
      this.controller.setSvgScore(this.$refs.svgScore);
    },
    clickmeas(click) {
      this.controller.clickmeas(click);
    },
  },
};
</script>
